$bgColor:hsl(0, 0%, 0%);
$h1Color:hsl(210, 90%, 49%);
$deleteBtnColor:hsl(0, 100%, 50%);
$numBtnColor:hsl(0, 0%, 50%);
$equalBtnColor:hsl(120, 100%, 50%);
$clearBtnColor:hsl(0, 91%, 50%);
$fontColor:hsl(0, 30%, 12%);
$signColor:hsl(0, 71%, 75%);
$inputColor:hsl(0, 0%, 100%);